  body {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
            margin: 0;
        }

        p {
            margin: 20px 0;
        }

        a {
            color: #007bff;
        }
